<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gourmet Guide</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"> 
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary bg-gradient"> 
        <a class="navbar-brand text-warning ml-5" href="/">Gourmet Guide</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="/recipes">View All Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/add-recipe">Add Your Recipe</a>
                </li>
                <li class="nav-item">
                   {{#if logged_in}}
                      <a class="nav-link text-white" href="/profile">Your Profile</a>
                    {{else}}
                      <a class="nav-link text-white" href="/signup">Create a User</a>
                    {{/if}}
                </li>
            </ul>
            

        {{> log-in-out}}
        </div>
    </nav>

    <main class="wrapper mt-5">
        {{{ body }}}
    </main>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

    {{#if logged_in}}
    <div></div>
    {{else}}
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Sign up and share Recipes HERE!!!
    </button>

 
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">"Recipes are like a roadmap to a chef's heart." </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Welcome to Gourmet Guide! We're excited that you want to share your delicious recipes with our community. By signing up, you'll be able to:</p>
                <ul>
                    <li>Post your favorite recipes</li>
                    <li>Interact with other food enthusiasts</li>
                    <li>Save and organize your favorite recipes</li>
                </ul>
                <p>Join our culinary community today!</p>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
  <footer class="footer bg-primary text-center py-3"> 
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="text-white">Follow us on social media:</p>
                <a href="https://www.facebook.com" class="text-white me-3" target="_blank">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>
                <a href="https://www.twitter.com" class="text-white me-3" target="_blank">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
                <a href="https://www.instagram.com" class="text-white" target="_blank">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
</footer>


    <!-- Include Bootstrap JavaScript first -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>

    <!-- Then include your custom modal.js -->
    <script src="/js/modal.js"></script>
    <script type="text/javascript">(function(d, t, e, m){
    
    // Async Rating-Widget initialization.
    window.RW_Async_Init = function(){
                
        RW.init({
            huid: "493290",
            uid: "ae57750eff3f809c0bc23a947bc89876",
            options: { "style": "oxygen" } 
        });
        RW.render();
    };
        // Append Rating-Widget JavaScript library... this is the website that I got the rating system from. https://rating-widget.com/get/rating/javascript/#editor
        //
    var rw, s = d.getElementsByTagName(e)[0], id = "rw-js",
        l = d.location, ck = "Y" + t.getFullYear() + 
        "M" + t.getMonth() + "D" + t.getDate(), p = l.protocol,
        f = ((l.search.indexOf("DBG=") > -1) ? "" : ".min"),
        a = ("https:" == p ? "secure." + m + "js/" : "js." + m);
    if (d.getElementById(id)) return;              
    rw = d.createElement(e);
    rw.id = id; rw.async = true; rw.type = "text/javascript";
    rw.src = p + "//" + a + "external" + f + ".js?ck=" + ck;
    s.parentNode.insertBefore(rw, s);
    }(document, new Date(), "script", "rating-widget.com/"));</script>



</body>
</html>
