<div class="container row mx-auto col-10 col-md-8 col-lg-6">
  <h2 class="text-center mb-4">Add your own recipe below</h2>
  <div class="align-items-center">
    <form>
      <div class="mb-3">
        <label for="recipeName" class="form-label">Enter the name of your dish</label>
        <input type="text" class="form-control" id="recipeName">
      </div>

      <div class="mb-3">
        <label for="recipeDescription" class="form-label">Give a short description of your dish</label>
        <textarea class="form-control" placeholder="Write your description here" id="recipeDescription" style="height: 100px"></textarea>
      </div>

      <div class="mb-3">
        <h3 class="fs-4">Add your ingredients </h3>
        <div class="row" id="ingredientInputs">
          
            <div id="nameDiv" class="col">
              <label for="ingredientName" class="form-label">Name of ingredient</label>
              <input type="text" class="form-control col" id="ingredientName" name="ingredientName">
            </div>

            <div id="amountDiv" class="col">
              <label for="ingredientAmount" class="form-label">Enter Amount</label>
              <input type="text" class="form-control col" id="ingredientAmount">
            </div>
          
        </div>
         <button id="addIngredient" type="button" class="btn btn-primary btn-sm m-1">+ ingredient</button>
        
      </div>

      <div class="mb-3">
        <label for="steps" class="form-label">Add the steps to create this dish</label>
        <input type="text" class="form-control" id="steps">
        <button type="button" class="btn btn-primary btn-sm m-1">+ step</button>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<script src="/addRecipe.js"></script>