<div class="d-flex justify-content-center">
    <div class=" text-center bg-primary bg-gradient w-50 mb-5 p-4 rounded-4 border border-warning" style="--bs-bg-opacity: .90;">
        <h1 class="text-light page-title-text">All Recipes</h1>
    </div>
</div>
<div class="container text-center">
    <div class="row align-items-start media-box">
        {{#each allRecipes}}
            <div class="col-lg-6 col-md-12">
                <a href="/recipe/{{id}}" class="text-decoration-none">
                     <div class="card card-body col bg-primary bg-gradient text-light shadow recipe-card">
                        <h2 class="card-title text-warning">{{name}}</h2>
                        <p class="card-text">{{description}}</p>
                    </div>
                </a>
            </div>
        {{/each}}
    </div>
</div>
