<div class="container mt-5">
    <div class="row">
        <aside class="col-md-4">
            <!-- Aside bar content goes here -->
        </aside>
        <main class="col-md-8">
            <h1>All Recipes</h1>
            {{#each allRecipes}}
            <a href="/recipe/{{id}}" class="text-decoration-none">
                <div class="card mb-3">
                    <div class="card-body">
                        <h2 class="card-title">{{name}}</h2>
                        <p class="card-text">{{description}}</p>
                    </div>
                </div>
            </a>
            {{/each}}
        </main>
    </div>
</div>
