<div style="--bs-bg-opacity: .90;" class="text-center align-items-cente container bg-primary bg-gradient w-75 p-4 rounded-4">
  <div>
  <h1 class="text-white page-title-text">Welcome to Gourmet Guide</h1>
  <p class="text-white">Discover delicious recipes from fellow food enthusiasts.</p>
</div>

</div>

