<div class="login-container container mt-5">
  <div class="row">
    <div class="col-md-6 mx-auto bg-primary rounded"> 
      <h2 class="page-title-text">Login</h2>
      <form class="form login-form">
        <div class="form-group text-white">
          <label for="email-login">Email:</label>
          <input class="form-control" type="text" id="email-login" />
        </div>
        <div class="form-group text-white">
          <label for="password-login">Password:</label>
          <input class="form-control" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
      </form>
      <div>
        <p>Don't have an account? <a href="/signup" class="text-decoration-none text-warning" id="sign-up-here-link">Sign up here!</a></p>
      </div>
    </div>
  </div>
</div>
<script src="/js/login.js"></script>