<h2>Fill out your information below to create an account:</h2>

<form>

      <div class="mb-3">
    <label for="username" class="form-label">Enter a unique username</label>
    <input type="text" class="form-control" id="username">
  </div>

    <div class="mb-3">
    <label for="firstName" class="form-label">Enter your first name</label>
    <input type="text" class="form-control" id="firstName">
  </div>

    <div class="mb-3">
    <label for="lastName" class="form-label">Enter your last name</label>
    <input type="text" class="form-control" id="lastName">
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>
{{!-- username, firstName, lastName, email, password --}}

<script src="/js/newUserForm.js"></script>