/* Add your CSS rules here */
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('../images/landingpageImage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav :hover {
    text-decoration: none;
}


.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1; 
    padding-bottom: 100px; 
}

.footer {
    width: 100%;
    background-color: #343a40;
    color: #ffffff;
    padding: 15px 0;
}

.custom-search-btn {
    background-color: #28a745;
    color: #ffffff;
}

