/* Add your CSS rules here */
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('../images/landingpageImage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1; /* Use flex to expand main content to fill available space */
    padding-bottom: 100px; /* Adjust this value as needed */
}

.footer {
    width: 100%;
    background-color: #343a40;
    color: #ffffff;
    padding: 15px 0;
}
