/* Add your CSS rules here */
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('../images/landingpageImage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1; 
    padding-bottom: 100px; 
}

.footer {
    width: 100%;
    background-color: #343a40;
    color: #ffffff;
    padding: 15px 0;
}

.custom-search-btn {
    background-color: #28a745;
    color: #ffffff;
}


.welcome-message {
    text-shadow: 1px 1px 5px black;
    text-shadow: 5px 5px 15px blue;
    text-shadow: 3px 3px 5px black
}

.page-title {
    font-size: 300%;
    color: #ffc107;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-shadow: 1px 1px 5px black

}

.recipe-card {
    text-align: center;
    box-shadow: 1px 1px 5px black;
}

.recipe-card:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 15px #ffc107
}